@import "./restaurants.scss";
@import "./colors.scss";
@import "./header.scss";
@import "./info.scss";
@import "./fonctionnement.scss";
@import "./footer.scss";
@import "./menu.scss";
@import "./loader.scss";
@import "./keyframes.scss";

body {
    margin: auto;
    font-family: "roboto";
    background-color: $home-color;

}
  /* header */
header {
    width: 100%;
}


footer {
    background-color: $grey-color;
    color: $white-color;
}

a {
    text-decoration: none; 
    
}

@media (min-width: 1024px) {


    .header-top {
        box-shadow: none;
    }

    .header-bottom {
        box-shadow: none;
    }

    main {
        width: 100%;
    }

    .section-info {

        .section-info__title {
            font-size: 40px;
        }

        .section-info__button {
            width: 215px;
        }
    }

    .section-fonctionnement {
        padding-left: 100px;
        padding-right: 100px;
    .section-fonctionnement__list {
        display: flex;
        flex-direction: row;
        }
    }

    .list-card {
        position: relative;

        i {
            padding-left: 20px;
        }
        .list-card__number {
            position: absolute;
            transform: translate(-50% , 50%);
            top: -3%;
            
        }
    }

    .fas1 {
        right: 59px;
    }

    .section-restaurants {
        padding-left: 70px;
        padding-right: 70px;
        .section-restaurants__title {
        padding-bottom: 20px;
    }

    .section-restaurants__container {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        justify-items: center;
        gap: 50px;
    }
 }

    .lien-nouveau1 {
        right: 54%;
    }

    .lien-nouveau2 {
        right: 8%;
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-top: 50px;
        
    }

    footer > img {
        padding-left: 90px;
    }

   

    .list-lien {
        display: flex;
        gap: 24px; 
    }

    
}

@media (min-width:768px) {
 
    .section-restaurants {
        padding-left: 70px;
        padding-right: 70px;
        .section-restaurants__title {
        padding-bottom: 20px;
    }

    .section-restaurants__container {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        justify-items: center;
        gap: 50px;
    }
 }

    .list-card{
        position: relative;
    .list-card__number {
        left: 0;
    }
}

    footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-top: 50px;
        
    }

    footer > img {
        padding-left: 90px;
    }

   

    .list-lien {
        display: flex;
        gap: 24px; 
    }

    .lien-nouveau1 {
        right: 9%;
    }

    .lien-nouveau2 {
        left: 36%;
    }
}