@import "./restaurants.scss";
@import "./colors.scss";
@import "./header.scss";
@import "./info.scss";
@import "./fonctionnement.scss";
@import "./footer.scss";
@import "./menu.scss";
@import "./loader.scss";
@import "./keyframes.scss";

body {
    margin: auto;
    font-family: "roboto";
    background-color: $home-color;

}
  /* header */
header {
    width: 100%;
}


footer {
    background-color: $grey-color;
    color: $white-color;
}

a {
    text-decoration: none; 
    
}

